<div class = "center-block" style ="width:932px;"><button class = "btn btn-info tips tips-show">tips</button></div>
<div class = "tips-wrap center-block">
  <div class = "tips-top-row">
    <button class = "btn btn-info tips tips-hide">tips</button>
    <span class = "tips-header-text">based on this recipe's ingredients</span>
  </div>
  <div class = "tips-mid-row">
    <ul class = "tips-ingredients list-group">
      <!--<li class = "tips-ingredients-item list-group-item active">onion</li>-->
    </ul>
    <ul class = "tips-content">
      <!--<li class = "tips-content-item"> how to cut an onion? </li>-->
    </ul>
    <iframe id="player" type="text/html" width="463" height="260" frameborder="0" class = "tipsframe" allowfullscreen></iframe>
  </div>
</div>
